
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

.front-page{
  background-image: url("../images/front.jpg");
  background-position: 50px 100px;
  background-repeat: repeat-y;
  font-family: 'Shadows Into Light', cursive;
  font-size: 35px;
}

.menu-bar li{
    display: inline;
  }

.menu-bar{
  background-color: black;
  color: white;
}

.profile{
  background-image: url("../images/startup.jpg");
  background-position: center;
}
