@import url();

body, html {
    height: 100%;
}

/*front-page*/
.front-page {
    background-image: url('../images/front.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: red;

}

.front-page h1{
  text-align: center;
  color: white;
  position: absolute;
  font-size: 40px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);


}

.front-page p{
  text-align: center;
  color: white;
  position: absolute;
  font-size: 20px;
  top: 60%;
  left: 50%;
  transform: translate(-50%,+50%);
}

.profile{
  height:inherit;
  color:rgb(241, 72, 72);
  background-color: white;
}

.profile h1{
  font-size: 40px;
  text-align: center;
  top: 10%;

}

.profile h2{
  font-size: 25px;
  text-align: left;
  top: 20%;
}

.resume{
  background-image: url('../images/startup.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.resume button{
  margin-left: 40%;
  
  border: none;
  outline: 0;
  display: block;
  padding:8px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  width: 25%;
  height: 10%;
}

/*contact css*/
.contact{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 300px;
  margin:auto;
  text-align: center;

}

.container{
  padding: 0 16px;
}

.title{
  border: none;
  outline: 0;
  display: inline-block;
  padding:8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

a{
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.contact-button{
  border: none;
  outline: 0;
  display: inline-block;
  padding:8px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

button:hover a:hover{
  opacity: 0.7;
}
/*contact css*/
